body {
    background-color: black;
    color: white;
    text-align: center;
}

.searchbox {
    padding: 10px;
    width: 200px;
}

.container {
    column-count: 4;
}

.upperContainer {
    display: flex;
    margin-bottom: 20px;
}

.resultContainer {
    min-height: 410px;
    margin-bottom: 10px;
    padding: 10px;
    border-style: double;
    border-color: aliceblue;
    break-after:avoid-column;
}